| {% load static %}

html(lang="ru")
    head
        meta(charset="UTF-8")
        title Skillometer
        meta(name="viewport" content="width=device-width")
        link(rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}")
        link(rel="stylesheet" href="{% static 'styles/index.css' %}")
        link(rel="stylesheet" href="https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.css")
        link(rel="stylesheet" href="https://snipp.ru/cdn/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.css")

        script(src="{% static 'scripts/icons.js' %}" type="text/javascript" charset="utf-8")
    body
        .container
            .header
                a.logo(href="https://skillometer.ru")
                    img(src="{% static 'assets/logo.svg' %}")
                .user-block
                    img.notification-icon(src="{% static 'assets/notification_bell.svg' %}")
                    a(href="/change_password/")
                        img.user-icon(src="{% static 'assets/teacher_user_icon.svg' %}")
                    .user-info
                        .user-name=data.username
                        .balance Баланс:&nbsp&nbsp&nbsp<b>{{ data.balance }} ₽</b>
        .panel
            .panel-actions
                a.panel-button.selected(href="/quests/")
                    img(src="{% static 'assets/icon_courses.svg' %}")
                a.panel-button(href="/webinars/")
                    img(src="{% static 'assets/icon_webinar.svg' %}")
                a.panel-button(href="/organization/")
                    img(src="{% static 'assets/icon_community.svg' %}")
                a.panel-button.notification-holder(href="/quest_members/")
                    img(src="{% static 'assets/icon_users.svg' %}")
                    if data.members_notification > 0
                        .notification=data.members_notification
                a.panel-button.notification-holder(href="/journal/")
                    img(src="{% static 'assets/icon_board.svg' %}")
                    if data.journal_notification > 0
                        .notification=data.journal_notification
            a.panel-button(href="/logout/")
                img(src="{% static 'assets/icon_exit.svg' %}")
        .center
            .container
                .content-window
                    .content-header
                    .Courses-edit
                        .content-title
                            div Курсы
                        .form-block
                            .column-1
                                .row
                                    img.direction-icon.hidden(src="{% static 'assets/direction_icon_1.svg' %}")
                                    .custom-select(style="width:100%;")
                                        select
                                            option Выберите направление деятельности
                                            option Естественно-научные
                                            option(value="2") Инженерные и ИТ
                                            option(value="3") Предпринимательские
                                            option(value="4") Социально-общественные
                                            option(value="5") Творчество
                                            option(value="6") Физкультурно-спортивные
                                            option(value="7") Языковые

                                input(type="text" placeholder="Ключевое слово, отражающее скилл (тэг):" id="tagTF" value="{{data.tag}}")
                                input(type="text" placeholder="Название" id="nameTF" value="{{data.name}}")
                                .age-block
                                    .custom-select(style="width:100%;")
                                        select
                                            option Возрастная группа
                                            option Для школьников
                                            option Для взрослых
                                    input.age-group(type="text" placeholder="15-17" id="ageTF" value="{{data.ageGroupNumbers}}")
                                textarea(type="text" placeholder="Описание" id="descriptionTF")=data.description
                            .column-2
                                div
                                    .date-picker-block
                                        .date-picker-label Дата начала
                                        input.date-picker(type="text" id="datepicker1")
                                    .date-picker-block
                                        .date-picker-label Дата окончания
                                        input(type="text" id="datepicker2")
                                    .row
                                        .custom-select(style="width:100%;")
                                            select
                                                option Адрес
                                                option Доступный адрес №1
                                                option Еще один адрес
                                    div(id="selected-image")
                                        if data.images
                                            each imageSrc in data.images
                                                img(src="{{imageSrc}}")
                                    .image-picker-block
                                        button.gray-button(onclick="openFileInput()") Выберите изображение
                                        .img-name
                                        input.hidden(type="file" multiple=false accept="image/png, image/jpeg, image/gif" id="image-input")
                                div
                                    button.red-button(onclick="submitNewCourse()") Далее
                                    button.gray-button Назад

        script(src="{% static 'scripts/courses_edit.js' %}")
        script(src="{% static 'scripts/index.js' %}")
        script(src="{% static 'scripts/custom-select.js' %}")

        script(src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js")
        script(src="https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="https://snipp.ru/cdn/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.js")
        script(src="{% static 'scripts/datepicker.js' %}")