| {% load static %}

html(lang="ru")
    head
        meta(charset="UTF-8")
        title Skillometer
        meta(name="viewport" content="width=device-width")
        link(rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}")
        link(rel="stylesheet" href="{% static 'styles/index.css' %}")
        script(src="{% static 'scripts/icons.js' %}" type="text/javascript" charset="utf-8")
    body
        .container
            .header
                a.logo(href="https://skillometer.ru")
                    img(src="{% static 'assets/logo.svg' %}")
                .user-block
                    img.notification-icon(src="{% static 'assets/notification_bell.svg' %}")
                    a(href="/change_password/")
                        img.user-icon(src="{% static 'assets/teacher_user_icon.svg' %}")
                    .user-info
                        .user-name=data.username
                        .balance Баланс:&nbsp&nbsp&nbsp<b>{{ data.balance }} ₽</b>
        .panel
            .panel-actions
                a.panel-button.selected(href="/quests/")
                    img(src="{% static 'assets/icon_courses.svg' %}")
                a.panel-button(href="/webinars/")
                    img(src="{% static 'assets/icon_webinar.svg' %}")
                a.panel-button(href="/organization/")
                    img(src="{% static 'assets/icon_community.svg' %}")
                a.panel-button.notification-holder(href="/quest_members/")
                    img(src="{% static 'assets/icon_users.svg' %}")
                    if data.members_notification > 0
                        .notification=data.members_notification
                a.panel-button.notification-holder(href="/journal/")
                    img(src="{% static 'assets/icon_board.svg' %}")
                    if data.journal_notification > 0
                        .notification=data.journal_notification
            a.panel-button(href="/logout/")
                img(src="{% static 'assets/icon_exit.svg' %}")
        .center
            .container
                .content-window
                    .content-header
                    .Courses-edit
                        .content-title
                            div Курсы
                        .form-block
                            .column-1
                                .row
                                    img.direction-icon.hidden(src="{% static 'assets/direction_icon_1.svg' %}")
                                    input(type="text" placeholder="Выберите направление деятельности" id="dropdownTF" readonly=True value="{{data.direction}}")
                                    button.dropdown-button(onClick="toggleDropdown('courses1')" id="dropdownButton")
                                        img(src="{% static 'assets/dropdown_icon_down.svg' %}")
                                    .dropdown-list-closed(id="dropdownList")
                                        div Выберите направление деятельности
                                        each value, index in data.directions
                                            button.dropdown-item(onClick="selectDropdownItem('{{index}}', '{{value}}', 'courses1')")=value

                                input(type="text" placeholder="Ключевое слово, отражающее скилл (тэг):" id="tagTF" value="{{data.tag}}")
                                input(type="text" placeholder="Название" id="nameTF" value="{{data.name}}")
                                .age-block
                                    .row
                                        img.direction-icon(src="")
                                        input(type="text" placeholder="Возрастная группа" id="ageDropdownTF" readonly=True value="{{data.ageGroup}}")
                                        button.dropdown-button(onClick="toggleDropdown('courses2')" id="ageDropdownButton")
                                            img(src="{% static 'assets/dropdown_icon_down.svg' %}")
                                        .dropdown-list-closed(id="ageDropdownList")
                                            div Возрастная группа
                                            button.dropdown-item(onClick="selectDropdownItem(0, 0, 'courses2')")="Для школьников"
                                            button.dropdown-item(onClick="selectDropdownItem(1, 1, 'courses2')")="Для взрослых"

                                    input.age-group(type="text" placeholder="15-17" id="ageTF" value="{{data.ageGroupNumbers}}")
                                textarea(type="text" placeholder="Описание" id="descriptionTF")=data.description
                            .column-2
                                div
                                    .date-picker-block
                                        .date-picker-label Дата начала
                                        input.date-picker(type="date" placeholder="дд.мм.гггг" id="begin-date" value="{{data.beginDate}}")
                                    .date-picker-block
                                        .date-picker-label Дата окончания
                                        input.date-picker(type="date" placeholder="дд.мм.гггг" id="end-date" value="{{data.endDate}}")
                                    .row
                                        img.direction-icon(src="")
                                        input(type="text" placeholder="Адрес" id="addressDropdownTF" value="{{data.address}}")
                                        button.dropdown-button(onClick="toggleDropdown('courses3')" id="addressDropdownButton")
                                            img(src="{% static 'assets/dropdown_icon_down.svg' %}")
                                        .dropdown-list-closed(id="addressDropdownList")
                                            div Выберите адрес
                                            if data.addresses
                                                each address, index in data.addresses
                                                    button.dropdown-item(onClick="selectDropdownItem({{index}}, '{{address}}', 'courses3')")=address

                                    div(id="selected-image")
                                        if data.images
                                            each imageSrc in data.images
                                                img(src="{{imageSrc}}")
                                    .image-picker-block
                                        button.gray-button(onclick="openFileInput()") Выберите изображение
                                        .img-name
                                        input.hidden(type="file" multiple=false accept="image/png, image/jpeg, image/gif" id="image-input")
                                div
                                    button.red-button(onclick="submitNewCourse()") Далее
                                    button.gray-button Назад

    script(src="{% static 'scripts/courses_edit.js' %}")
    script(src="{% static 'scripts/index.js' %}")