| {% load static %}

html(lang="ru")
    head
        meta(charset="UTF-8")
        title Skillometer
        meta(name="viewport" content="width=device-width")
        link(rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}")
        link(rel="stylesheet" href="{% static 'styles/index.css' %}")
        script(src="{% static 'scripts/icons.js' %}")
    body
        .container
            .header
                a.logo(href="https://skillometer.ru")
                    img(src="{% static 'assets/logo.svg' %}")
                .user-block
                    img.notification-icon(src="{% static 'assets/notification_bell.svg' %}")
                    a(href="/change_password/")
                        img.user-icon(src="{% static 'assets/teacher_user_icon.svg' %}")
                    .user-info
                        .user-name=data.username
                        .balance Баланс:&nbsp&nbsp&nbsp<b>{{data.balance}} ₽</b>
        .panel
            .panel-actions
                a.panel-button.selected(href="/quests/")
                    img(src="{% static 'assets/icon_courses.svg' %}")
                a.panel-button(href="/webinars/")
                    img(src="{% static 'assets/icon_webinar.svg' %}")
                a.panel-button(href="/organization/")
                    img(src="{% static 'assets/icon_community.svg' %}")
                a.panel-button.notification-holder(href="/quest_members/")
                    img(src="{% static 'assets/icon_users.svg' %}")
                    if data.members_notification > 0
                        .notification=members_notification
                a.panel-button.notification-holder(href="/journal/")
                    img(src="{% static 'assets/icon_board.svg' %}")
                    if data.journal_notification > 0
                        .notification=journal_notification
            a.panel-button(href="/logout/")
                img(src="{% static 'assets/icon_exit.svg' %}")
        .center
            .container
                .content-window
                    .content-header
                    .Courses-main
                        .content-title
                            div Курсы
                            button.round(onclick="")
                                img(src="{% static 'assets/your-courses-arrow.svg' %}" alt="")
                        .slider
                            .slides-wrapper(id="slider")
                                each category in data.courseCategories
                                    a.CourseCategoryCard(style="background: linear-gradient(180deg, #030303 0%, rgba(63, 62, 62, 0) 100%), url('/static/assets/direction_image_{{category.id}}.png') center no-repeat; background-size: cover" onclick="sortCoursesByDirection('{{category.id}}')")
                                        .row
                                            img(src='/static/assets/direction_icon_{{category.id}}.svg' alt="")
                                            .text=category.title
                            button.prev-btn(id="prev-btn" onclick="scrollCategories('left')")
                                img(src="{% static 'assets/left_arrow.svg' %}" alt="")
                            button.next-btn(id="next-btn" onclick="scrollCategories('right')")
                                img(src="{% static 'assets/left_arrow.svg' %}" alt="")
                        .column-left-courses
                            .wrapper
                                .CardsBlock
                                    .column-left
                                        .InfoCourseCard
                                            .row
                                                div Основной тэг:
                                                div=data.course.info.mainTag
                                            .row
                                                div Дополнительный тэг:
                                                div=data.course.info.secondaryTag
                                            .row
                                                div Возрастная группа:
                                                div=data.course.info.ageGroup
                                            .row
                                                div Формат обучения:
                                                div=data.course.info.educationFormat
                                            .row
                                                duv Описание:
                                                div=data.course.info.description
                                            .row
                                                duv Адрес:
                                                div=data.course.info.address
                                        .GroupsCourseCard
                                            .left
                                                .chart-wrapper
                                                    canvas(width=50 height=50 id="numberOfGroupsChart")
                                                    .sign
                                                .content
                                                    .date
                                                    .label
                                            .right
                                                .chart-wrapper
                                                    canvas(width=50 height=50 id="vacantsChart" chart=33)
                                                    .sign
                                                .content
                                                    .date
                                                    .label Свободных мест
                                        .GeographyCard
                                            .chart
                                                canvas(width=200 height=200 id="geographyChart")
                                            .chart-data
                                                .title География
                                                .description Охват учащихся
                                            button.export-button.center(onclick="")
                                                img(src="{% static 'assets/export_icon.svg' %}")
                                    .column-right
                                        .ScheduleCourseCard
                                            img(src="{% static 'assets/schedule_icon.svg' %}" alt="")
                                            .content
                                                .label Расписание занятий
                                        .PeriodCourseCard
                                            img(src="{% static 'assets/calendar_icon.svg' %}" alt="")
                                            .content
                                                .date
                                                .label Период обучения
                                        .row
                                            .RequestsCourseCard
                                                img(src="{% static 'assets/student_icon.svg' %}", alt="")
                                                .content
                                                    .date
                                                    .label Входящих заявок
                                            .PaymentCourseCard
                                                .chart-wrapper
                                                    canvas(width=50 height=50 id="paymentsChart" chart=40)
                                                    .sign ₽
                                                .content
                                                    .date
                                                    .label Оплатили
                                        .PopularityCard
                                            .sub-header
                                                .left
                                                    .title Популярность курса
                                                    .description Охват учащихся по месяцам
                                                .right
                                                    .row
                                                        .block.gray
                                                        div Входящие заявки
                                                    .row
                                                        .block.red
                                                        div Оплаты
                                            .main(id="temporaryID")
                                                .scale
                                                    div 100
                                                    div 50
                                                    div 0
                                                each month in data.months
                                                    .pillar
                                                        canvas(width=10 height=100)
                                                        .month=month
                                            button.export-button.center(onclick="")
                                                img(src="{% static 'assets/export_icon.svg' %}")
                            .column-right-courses
                                .buttons-block
                                    a.add-button.center(href="/quest_edit/")
                                        img(src="{% static 'assets/plus_2.svg' %}" alt="")
                                    a.red-button.center(href="" id="course-edit-ref") Изменить
                                    button.gray-button(onclick="deleteModal('show')") Удалить
                                .YourCourses
                                    .sub-header
                                        div Ваши курсы
                                        .filter-block
                                            .filter-name(id="current-filter") Все
                                            button.filter-button(onclick="sortYourCourses()" id="courses-sort-btn")
                                                img(src="{% static 'assets/your_courses_arrow_white.svg' %}")
                                            button.filter-button.hidden(onclick="cancelCoursesFilter()" id="courses-filter-btn")
                                                img(src="{% static 'assets/your_courses_close_x.svg' %}")
                                    .courses-item
                        .delete-modal.hidden
                            .wrapper
                                .row
                                    .title Удалить курс?
                                .buttons-block
                                    button.red-button(onclick="deleteModal('submit')") Удалить
                                    button.gray-button.cancel(onclick="deleteModal('close')") Отмена
//-     div.hidden(id="dataHolder")=data.username
script(src="{% static 'scripts/courses.js' %}")
script.
    parseData("{{data}}")

script(src="{% static 'scripts/index.js' %}")