| {% load static %}
-
    lessons = [
        {
            title: 'Основы программирования',
            duration: '3 дня',
            scores: {
                max: 50,
                passing: 40
            },
            course: {
                name: 'Информатика',
                category: 'Инженерные и ИТ',
                numberOfTasks: 20
            },
            total: 20,
            turnedOut: 15,
            averageScore: 45,
            passed: 15,
            notPassed: 4,
            failed: 5,
            answers: [
                {
                    id: 1,
                    name: 'Иванов Сергей',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-13',
                    attemptsNumber: '1 (5)',
                    score: '45 / 50 (85%)',
                    taskNumber: 5,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    time: '15:30',
                    date: '30.06.20',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,

                        }
                    ],
                },
                {
                    name: 'Петрова Наталья',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-12',
                    attemptsNumber: '2 (5)',
                    score: '15 / 50 (30%)',
                    taskNumber: 3,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    time: '15:35',
                    date: '30.06.20',
                    id: 2,
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            // isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        },
                        {
                            body: 'Это еще не проверенное задание',
                            // mark: 5,
                            // isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ]
                },
                {
                    name: 'Майкл Джексон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-11',
                    attemptsNumber: '3 (5)',
                    score: '35 / 50 (70%)',
                    taskNumber: 4,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:40',
                    date: '29.06.20',
                    id: 3
                },
                {
                    name: 'Майк Тайсон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-10',
                    attemptsNumber: '1 (5)',
                    score: '10 / 50 (20%)',
                    taskNumber: 2,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '10:50',
                    date: '30.06.20',
                    id: 4
                },
                {
                    name: 'Ксения Собчак',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-15',
                    attemptsNumber: '4 (5)',
                    score: '50 / 50 (100%)',
                    time: '15:20',
                    date: '28.06.20',
                    id: 5,
                    taskNumber: 1,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя',
                            date: '2020-06-20T10:40+09:00'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                },
                {
                    name: 'Билл Гейтс',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-10',
                    attemptsNumber: '2 (5)',
                    score: '45 / 50 (85%)',
                    taskNumber: 8,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:30',
                    date: '25.06.20',
                    id: 6
                }
            ],
            answersMissing: [
                {
                    name: 'Майкл Джексон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-88',
                    attemptsNumber: '3 (5)',
                    score: '35 / 50 (60%)',
                    taskNumber: 6,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        },
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        },
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:40',
                    date: '20.05.20',
                    id: 7
                },
                {
                    name: 'Петрова Наталья',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-83',
                    attemptsNumber: '2 (5)',
                    score: '15 / 50 (100%)',
                    taskNumber: 7,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:15',
                    date: '30.06.20',
                    id: 8
                },
                {
                    name: 'Иванов Сергей',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-90',
                    attemptsNumber: '1 (5)',
                    score: '45 / 50 (85%)',
                    taskNumber: 10,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, аоцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:10',
                    date: '25.06.20',
                    id: 9
                },
            ]
        },
        {
            title: 'Вступительное занятие',
            duration: '48 часов',
            scores: {
                max: 10,
                passing: 7
            },
            course: {
                name: 'Курс по развитию моторики рук',
                category: 'Физкультурно-спортивные',
                numberOfTasks: 5
            },
            total: 9,
            turnedOut: 2,
            averageScore: 32,
            passed: 5,
            notPassed: 1,
            answers: [
                {
                    id: 1,
                    name: 'Иванов Сергей',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-13',
                    attemptsNumber: '1 (5)',
                    score: '5 / 50 (10%)',
                    taskNumber: 5,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    time: '15:30',
                    date: '30.06.20',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,

                        }
                    ],
                },
                {
                    name: 'Петрова Наталья',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-12',
                    attemptsNumber: '2 (5)',
                    score: '10 / 50 (20%)',
                    taskNumber: 3,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    time: '15:35',
                    date: '30.06.20',
                    id: 2,
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        },
                        {
                            body: 'Это еще не проверенное задание',
                            // mark: 5,
                            // isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ]
                },
                {
                    name: 'Майкл Джексон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-11',
                    attemptsNumber: '3 (5)',
                    score: '0 / 50 (0%)',
                    taskNumber: 4,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:40',
                    date: '29.06.20',
                    id: 3
                },
                {
                    name: 'Майк Тайсон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-10',
                    attemptsNumber: '1 (5)',
                    score: '50 / 50 (100%)',
                    taskNumber: 2,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '10:50',
                    date: '30.06.20',
                    id: 4
                },
                {
                    name: 'Ксения Собчак',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-15',
                    maxAttempts: '4 (5)',
                    score: '50 / 50 (100%)',
                    time: '15:20',
                    date: '28.06.20',
                    id: 5,
                    taskNumber: 1,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя',
                            date: '2020-06-20T10:40+09:00'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                },
                {
                    name: 'Билл Гейтс',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-10',
                    attemptsNumber: '2 (5)',
                    score: '50 / 50 (100%)',
                    taskNumber: 8,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:30',
                    date: '25.06.20',
                    id: 6
                }
            ],
            answersMissing: [
                {
                    name: 'Майкл Джексон',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-88',
                    attemptsNumber: '3 (5)',
                    score: '10 / 50 (20%)',
                    taskNumber: 2,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:40',
                    date: '20.05.20',
                    id: 7
                },
                {
                    name: 'Петрова Наталья',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-83',
                    attemptsNumber: '2 (5)',
                    score: '10 / 50 (20%)',
                    taskNumber: 7,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, оцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:15',
                    date: '30.06.20',
                    id: 8
                },
                {
                    name: 'Иванов Сергей',
                    image: '/static/assets/user_icon_red.svg',
                    group: 'АБ-90',
                    attemptsNumber: '1 (5)',
                    score: '5 / 50 (10%)',
                    taskNumber: 10,
                    description: 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.',
                    attempts: [
                        {
                            body: 'Далеко далеко что то происходит, аоцените на пять плз',
                            // mark: 2,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это вторая попытка и ответ неверный',
                            mark: 3,
                            isCorrect: false,
                            comment: 'Тут должен быть комментарий преподавателя'
                        },
                        {
                            body: 'Это третья попытка и все должно быть верно',
                            mark: 5,
                            isCorrect: true,
                            comment: 'Тут должен'
                        }
                    ],
                    time: '15:10',
                    date: '25.06.20',
                    id: 9
                },
            ]
        }
    ]

    username = 'example-mail@gmail.com'
    members_notification = 0
    journal_notification = 0
    balance = 1200
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Skillometer
        meta(name="viewport" content="width=device-width")
        link(rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}")
        link(rel="stylesheet" href="{% static 'styles/index.css' %}")
        script(src="{% static 'scripts/icons.js' %}")
    body
        .container
            .header
                a.logo(href="https://skillometer.ru")
                    img(src="{% static 'assets/logo.svg' %}")
                .user-block
                    img.notification-icon(src="{% static 'assets/notification_bell.svg' %}")
                    a(href="/change_password/")
                        img.user-icon(src="{% static 'assets/teacher_user_icon.svg' %}")
                    .user-info
                        .user-name=username
                        .balance Баланс:&nbsp&nbsp&nbsp<b>#{balance || 0} ₽</b>

        .panel
            .panel-actions
                a.panel-button(href="/quests/")
                    img(src="{% static 'assets/icon_courses.svg' %}")
                a.panel-button(href="/webinars/")
                    img(src="{% static 'assets/icon_webinar.svg' %}")
                a.panel-button(href="/organization/")
                    img(src="{% static 'assets/icon_community.svg' %}")
                a.panel-button.notification-holder(href="/quest_members/")
                    img(src="{% static 'assets/icon_users.svg' %}")
                    if members_notification > 0
                        .notification=members_notification
                a.panel-button.notification-holder.selected(href="/journal/")
                    img(src="{% static 'assets/icon_board.svg' %}")
                    if journal_notification > 0
                        .notification=journal_notification
            a.panel-button(href="/logout/")
                img(src="{% static 'assets/icon_exit.svg' %}")
        .center
            .container
                .content-window
                    .content-header
                    .Journal-main
                        .content-title
                            div Журнал
                        .exam-block
                            .sub-header
                                .title Ответы на занятие
                                .timing-score-block
                                    .duration-button
                                        img(src="{% static 'assets/clock_small.svg' %}" alt="")
                                        div=lessons[0].duration
                                    if lessons[0].scores !== undefined
                                        .passing-score=`${lessons[0].scores.max} Баллов (проходной балл ${lessons[0].scores.passing})`
                            .double-block
                                div
                                    input(type="text" id="lesson-choose-input" readonly value=lessons[0].title)
                                    .popup-list.lesson-choose.hidden
                                        each lesson, index in lessons
                                            button.list-item(onclick=`chooseInJournal('pick-lesson', ${index})`)=lesson.title
                                    button.input-button.lesson(onclick="chooseInJournal('toggle-lessons')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                if lessons[0].course !== undefined
                                    div
                                        .course-name-block
                                            div=`Курс: ${lessons[0].course.name}`
                                            img(src="{% static 'assets/direction_icon_1.svg' %}" onload=`directionIconGenerator(this, '${lessons[0].course.category}')`)
                                        .number-of-questions=`${lessons[0].course.numberOfTasks} заданий`
                            .small-cards-block
                                .small-card
                                    img(src="{% static 'assets/exam_icon_1.svg' %}" alt="")
                                    .col
                                        p Всего студентов
                                        b(id='total-students')=lessons[0].total || '0'
                                .small-card
                                    img(src="{% static 'assets/exam_icon_2.svg' %}" alt="")
                                    .col
                                        p Средний балл
                                        b(id='average-score')=lessons[0].averageScore || '0'
                                .small-card
                                    img(src="{% static 'assets/exam_icon_3.svg' %}" alt="")
                                    .col
                                        p Не прошедших экзамен
                                        b(id='not-passed-students')=lessons[0].notPassed || '0'
                                .small-card
                                    img(src="{% static 'assets/exam_icon_4.svg' %}" alt="")
                                    .col
                                        p Всего студентов выпущено
                                        b(id='turned-out-students')=lessons[0].turnedOut || '0'
                                .small-card
                                    img(src="{% static 'assets/exam_icon_5.svg' %}" alt="")
                                    .col
                                        p Всего студентов сдали
                                        b(id='total-passed-students')=lessons[0].passed || '0'
                                .small-card
                                    img(src="{% static 'assets/exam_icon_6.svg' %}" alt="")
                                    .col
                                        p Всего не сдавших экзамен
                                        b(id='total-failed-students')=lessons[0].failed || '0'
                        .presence-block
                            .presence(id="presence-1")
                                button(onclick="presenceHandler(0)")=`Присустствовали (${lessons[0].answers.length})`
                                .indicator
                            .presence(id="presence-2")
                                button(onclick="presenceHandler(1)")=`Не присутствовали (${lessons[0].answersMissing.length})`
                                .indicator
                        .search-filter-block
                            .search-block
                                input.search-tf(type="text" placeholder="Поиск по имени или email" oninput="journalSearchHandler(this)" id="journal-search")
                                button(onclick="")
                                    img(src="{% static 'assets/search_icon.svg' %}" alt="")
                            .filter-block
                                button.filter.hidden(onclick="markAsPassed('present')" id="passButton") Пометить как "сдано"
                                button.filter.hidden(onclick="markAsPassed('missing')" id="passMissingButton") Пометить как "сдано"
                                //.query-field
                                //    .query-text Все
                                //    button(onclick="")
                                //        img(src="{% static 'assets/arrow_down.svg' %}" alt="")
                                //button.filter Фильтр
                        .main-block(id="page-1")
                            .sub-header
                                .order-block
                                    button(onclick="selectAllStudents()")
                                        img(src="{% static 'assets/selection_icon_gray.svg' %}")
                                    div Имя Фамилия
                                .order-block
                                    div Группа
                                    button(onclick="sortStudentsBy('group')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Ответы
                                    button(onclick="sortStudentsBy('answers')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Задание
                                    button(onclick="sortStudentsBy('question')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Баллы
                                    button(onclick="sortStudentsBy('score')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Время
                                    button(onclick="sortStudentsBy('time')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Дата
                                    button(onclick="sortStudentsBy('date')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                div Детали
                            .cards-wrapper
                                each answer in lessons[0].answers
                                    .student-card(id=answer.id onclick=`selectStudent('${answer.id}')`)
                                        .student-block
                                            .student-icon
                                                img(src=answer.image)
                                            .student-name=answer.name
                                        div=answer.group
                                        div=answer.attemptsNumber
                                        div='№' + answer.taskNumber
                                        - color = '#494949'
                                        - regexp = /[(]([0-9]*)[%][)]/
                                        - scorePercent = answer.score.match(regexp)[1]
                                        - if (scorePercent >= 70) color = '#27AE60'
                                        - else if (scorePercent >= 30) color = '#D1734A'
                                        - else color = '#FF455D'
                                        div(style=`color: ${color}`)=answer.score
                                        div=answer.time
                                        div=answer.date
                                        button(onclick=`showAnswerDetail('${answer.id}')`)
                                            img(src="{% static 'assets/arrow_right.svg' %}" alt="")
                        .main-block(id="page-2")
                            .sub-header
                                .order-block
                                    button(onclick="selectAllMissingStudents()")
                                        img(src="{% static 'assets/selection_icon_gray.svg' %}")
                                    div Имя Фамилия
                                .order-block
                                    div Группа
                                    button(onclick="sortMissingStudentsBy('group')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Ответы
                                    button(onclick="sortMissingStudentsBy('answers')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Задание
                                    button(onclick="sortMissingStudentsBy('question')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Баллы
                                    button(onclick="sortMissingStudentsBy('score')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Время
                                    button(onclick="sortMissingStudentsBy('time')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Дата
                                    button(onclick="sortMissingStudentsBy('date')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                div Детали
                            .cards-wrapper
                                each answer in lessons[0].answersMissing
                                    .student-card(id=answer.id onclick=`selectMissingStudent('${answer.id}')`)
                                        .student-block
                                            .student-icon
                                                img(src=answer.image)
                                            .student-name=answer.name
                                        div=answer.group
                                        div=answer.attemptsNumber
                                        div='№' + answer.taskNumber
                                        - color = '#494949'
                                        - regexp = /[(]([0-9]*)[%][)]/
                                        - scorePercent = answer.score.match(regexp)[1]
                                        - if (scorePercent >= 70) color = '#27AE60'
                                        - else if (scorePercent >= 30) color = '#D1734A'
                                        - else color = '#FF455D'
                                        div(style=`color: ${color}`)=answer.score
                                        div=answer.time
                                        div=answer.date
                                        button(onclick=`showAnswerDetail('${answer.id}')`)
                                            img(src="{% static 'assets/arrow_right.svg' %}" alt="")
                        .answer-detail.invisible(id="answer-modal")
                            .wrapper
        script(type='text/javascript').
            let lessons = !{JSON.stringify(lessons)}
        script(src="{% static 'scripts/journal.js' %}")
        script(src="{% static 'scripts/index.js' %}")