| {% load static %}

html(lang="ru")
    head
        meta(charset="UTF-8")
        title Skillometer
        meta(name="viewport" content="width=device-width")
        link(rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}")
        link(rel="stylesheet" href="{% static 'styles/index.css' %}")
        script(src="{% static 'scripts/icons.js' %}")
    body
        .container
            .header
                a.logo(href="https://skillometer.ru")
                    img(src="{% static 'assets/logo.svg' %}")
                .user-block
                    img.notification-icon(src="{% static 'assets/notification_bell.svg' %}")
                    a(href="/change_password/")
                        img.user-icon(src="{% static 'assets/teacher_user_icon.svg' %}")
                    .user-info
                        .user-name=data.username
                        .balance Баланс:&nbsp&nbsp&nbsp<b>"{{data.username}}" ₽</b>

        .panel
            .panel-actions
                a.panel-button(href="/quests/")
                    img(src="{% static 'assets/icon_courses.svg' %}")
                a.panel-button(href="/webinars/")
                    img(src="{% static 'assets/icon_webinar.svg' %}")
                a.panel-button(href="/organization/")
                    img(src="{% static 'assets/icon_community.svg' %}")
                a.panel-button.notification-holder(href="/quest_members/")
                    img(src="{% static 'assets/icon_users.svg' %}")
                    if data.members_notification > 0
                        .notification=data.members_notification
                a.panel-button.notification-holder.selected(href="/journal/")
                    img(src="{% static 'assets/icon_board.svg' %}")
                    if data.journal_notification > 0
                        .notification=data.journal_notification
            a.panel-button(href="/logout/")
                img(src="{% static 'assets/icon_exit.svg' %}")
        .center
            .container
                .content-window
                    .content-header
                    .Journal-main
                        .content-title
                            div Журнал
                        .exam-block
                            .sub-header
                                .title Ответы на занятие
                                .timing-score-block
                                    .duration-button
                                        img(src="{% static 'assets/clock_small.svg' %}" alt="")
                                        div=data.lesson.duration
                                    if data.lesson.scores
                                        .passing-score "{{data.lesson.scores.max}}" Баллов (проходной балл "{{data.lesson.scores.passing}}")
                            .double-block
                                div
                                    input(type="text" id="lesson-choose-input" readonly value="{{data.lesson.title}}")
                                    .popup-list.lesson-choose.hidden
                                        each lesson, index in data.lessons
                                            button.list-item(onclick="chooseInJournal('pick-lesson', '{{index}}')")=lesson
                                    button.input-button.lesson(onclick="chooseInJournal('toggle-lessons')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                if data.lesson.course
                                    div
                                        .course-name-block
                                            div Курс: "{{data.lesson.course.name}}"
                                            img(src="{% static 'assets/direction_icon_1.svg' %}")
                                        .number-of-questions "{{data.lesson.course.numberOfTasks}}" заданий
                            .small-cards-block
                                .small-card
                                    img(src="{% static 'assets/exam_icon_1.svg' %}" alt="")
                                    .col
                                        p Всего студентов
                                        b(id='total-students')=data.lesson.total
                                .small-card
                                    img(src="{% static 'assets/exam_icon_2.svg' %}" alt="")
                                    .col
                                        p Средний балл
                                        b(id='average-score')=data.lesson.averageScore
                                .small-card
                                    img(src="{% static 'assets/exam_icon_3.svg' %}" alt="")
                                    .col
                                        p Не прошедших экзамен
                                        b(id='not-passed-students')=data.lesson.notPassed
                                .small-card
                                    img(src="{% static 'assets/exam_icon_4.svg' %}" alt="")
                                    .col
                                        p Всего студентов выпущено
                                        b(id='turned-out-students')=data.lesson.turnedOut
                                .small-card
                                    img(src="{% static 'assets/exam_icon_5.svg' %}" alt="")
                                    .col
                                        p Всего студентов сдали
                                        b(id='total-passed-students')=data.lesson.passed
                                .small-card
                                    img(src="{% static 'assets/exam_icon_6.svg' %}" alt="")
                                    .col
                                        p Всего не сдавших экзамен
                                        b(id='total-failed-students')=data.lesson.failed
                        .presence-block
                            .presence(id="presence-1")
                                button(onclick="presenceHandler(0)") Присустствовали ({{data.lesson.answersLen}})
                                .indicator
                            .presence(id="presence-2")
                                button(onclick="presenceHandler(1)") Не присутствовали ({{data.lesson.answersMissingLen}})
                                .indicator
                        .search-filter-block
                            .search-block
                                input.search-tf(type="text" placeholder="Поиск по имени или email" oninput="journalSearchHandler(this)" id="journal-search")
                                button(onclick="")
                                    img(src="{% static 'assets/search_icon.svg' %}" alt="")
                            .filter-block
                                button.filter.hidden(onclick="markAsPassed('present')" id="passButton") Пометить как "сдано"
                                button.filter.hidden(onclick="markAsPassed('missing')" id="passMissingButton") Пометить как "сдано"
                                //.query-field
                                //    .query-text Все
                                //    button(onclick="")
                                //        img(src="{% static 'assets/arrow_down.svg' %}" alt="")
                                //button.filter Фильтр
                        .main-block(id="page-1")
                            .sub-header
                                .order-block
                                    button(onclick="selectAllStudents()")
                                        img(src="{% static 'assets/selection_icon_gray.svg' %}")
                                    div Имя Фамилия
                                .order-block
                                    div Группа
                                    button(onclick="sortStudentsBy('group')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Ответы
                                    button(onclick="sortStudentsBy('answers')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Задание
                                    button(onclick="sortStudentsBy('question')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Баллы
                                    button(onclick="sortStudentsBy('score')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Время
                                    button(onclick="sortStudentsBy('time')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Дата
                                    button(onclick="sortStudentsBy('date')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                div Детали
                            .cards-wrapper
                                each answer in data.lesson.answers
                                    .student-card(id="{{answer.id}}" onclick="selectStudent('{{answer.id}}')")
                                        .student-block
                                            .student-icon
                                                img(src="{{answer.image}}")
                                            .student-name=answer.name
                                        div=answer.group
                                        div=answer.attemptsNumber
                                        div № {{answer.taskNumber}}
                                        div(style="color: '#FF455D'")=answer.score
                                        div=answer.time
                                        div=answer.date
                                        a(href="/answer/{{answer.id}}")
                                            img(src="{% static 'assets/arrow_right.svg' %}" alt="")
                        .main-block(id="page-2")
                            .sub-header
                                .order-block
                                    button(onclick="selectAllMissingStudents()")
                                        img(src="{% static 'assets/selection_icon_gray.svg' %}")
                                    div Имя Фамилия
                                .order-block
                                    div Группа
                                    button(onclick="sortMissingStudentsBy('group')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Ответы
                                    button(onclick="sortMissingStudentsBy('answers')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Задание
                                    button(onclick="sortMissingStudentsBy('question')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Баллы
                                    button(onclick="sortMissingStudentsBy('score')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Время
                                    button(onclick="sortMissingStudentsBy('time')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                .order-block
                                    div Дата
                                    button(onclick="sortMissingStudentsBy('date')")
                                        img(src="{% static 'assets/arrow_down.svg' %}")
                                div Детали
                            .cards-wrapper
                                each answer in data.lesson.answersMissing
                                    .student-card(id="{{answer.id}}" onclick="selectMissingStudent('{{answer.id}}')")
                                        .student-block
                                            .student-icon
                                                img(src="{{answer.image}}")
                                            .student-name=answer.name
                                        div=answer.group
                                        div=answer.attemptsNumber
                                        div № "{{answer.taskNumber}}"
                                        div(style="color: '#FF455D'")=answer.score
                                        div=answer.time
                                        div=answer.date
                                        a(href="/answer/{{answer.id}}")
                                            img(src="{% static 'assets/arrow_right.svg' %}" alt="")
                        .answer-detail.invisible(id="answer-modal")
                            .wrapper
        script(src="{% static 'scripts/journal.js' %}")
        script(src="{% static 'scripts/index.js' %}")